{{question-detail-tile question=model}}

<hr>
<br>

<div class="row">
  <div class="col-xs-8">
    {{#each model.answers as |answer|}}
      {{answer-tile answer=answer}}
    {{/each}}
  </div>

  <div class="col-xs-4">
    {{new-answer question=model saveAnswer="saveAnswer"}}

    {{update-question question=model updateQuestion="updateQuestion"}}
  </div>
</div>
